<!DOCTYPE html>
<html ng-app="directiveExam">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Directive Example</title>
	<!-- 트위터 부트스트랩 -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<!-- AngularJS -->
	<script src="../../resources/js/angular-1.2.16/angular.js" type="text/javascript"></script>
	<script type="text/javascript">
		//지시어 선언
		//지시어는 카멜 케이스로 네이밍한다.
		angular.module('directiveExam.directive', []).directive('helloWorld', function(){
			return {
				restrict: 'E', //Element(태그)
				template: '헬로우 월드'
			};
		});
		
		//어플리케이션 모듈을 선언하고, Directive 를 인젝션한다.
		var directiveExam = angular.module('directiveExam', ['directiveExam.directive']);
		
	</script>
</head>
<body>
	<!-- 지시어를 사용할 때는 스네이크 케이스로 네이밍해준다. -->
	<hello-world></hello-world>
</body>
</html>